@mixin desktop {
	@media only screen and (max-width: 1400px) {
		@content;
	}
}
@mixin desktop-lg {
	@media only screen and (min-width: 1440px) {
		@content;
	}
}
@mixin desktop-992 {
	@media only screen and (max-width: 1199px) {
		@content;
	}
}
@mixin tablet {
	@media only screen and (max-width: 991px) {
		@content;
	}
}
@mixin mobile {
	@media only screen and (max-width: 767px) {
		@content;
	}
}
@mixin mobile-sm {
	@media only screen and (max-width: 575px) {
		@content;
	}
}


$white-color: #F2F2F2;
$navy-color: #1E293A;
$blue-color: #215FE5;
$orange-color: #D07D59;
$cream-color: #F4DCAD;
$nude-color: #F4B9A4;
