@import "_variable";

.contacts-section {
	padding: 28px 0 0;
	position: relative;
	@include desktop {
		padding: 16px 0 0;
	}
	.container {
		position: relative;
	}
	&__wrap {
		display:-ms-grid;
		display:grid;
		grid-gap: 80px;
		-ms-grid-columns:528fr 712fr;
		grid-template-columns:528fr 712fr;
		align-items: flex-start;
		margin: 0;
		@include desktop {
			grid-gap: 72px;
			-ms-grid-columns:420fr 648fr;
			grid-template-columns:420fr 648fr;
		}
		@include desktop-992 {
			-ms-grid-columns:1fr;
			grid-template-columns:1fr;
			grid-gap: 40px;
		}
	}
	&__info {
		padding-top: 107px;
		@include desktop {
			padding-top: 118px;
		}
		@include desktop-992 {
			max-width: 630px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding-top: 32px;
		}
	}
	&__title {
		margin: 0 0 16px;
		
	}
	&__description {
		margin: 0 0 80px;
		@include desktop {
			margin-bottom: 65px;
		}
		@include desktop-992 {
			margin-bottom: 32px;
		}
	}
	&__list {
		@include desktop-992 {
			.contacts-list {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				gap: 16px;
				justify-content: center;
				&__item {
					-webkit-box-flex:0 0 72px;
					-moz-box-flex: 0 0 72px;
					-webkit-flex: 0 0 72px;
					-ms-flex: 0 0 72px;
					flex: 0 0 72px;
				}
			}
		}
	}

	&__form {
		padding: 64px 88px;
		background: #FFFFFF;
		position: relative;
		z-index: 4;
		box-shadow: -16px 24px 64px rgba(0, 0, 0, 0.04);
		border-radius: 8px;
		@include desktop {
			padding: 56px 64px;
		}
		@include desktop-992 {
			max-width: 796px;
			margin-left: auto;
			margin-right: auto;
			padding: 64px;
		}
		@include tablet {
			padding: 56px;
		}
		@include mobile {
			padding: 48px 40px;
		}
		@include mobile-sm {
			padding: 32px;
			margin: 0 -16px;
		}
		.input-item {
			margin-bottom: 26px;
		}
		.wpcf7-spinner {
			@include mobile-sm {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				pointer-events: none;
			}
		}
	}
	
}
.contacts-list {
	margin: 0;
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:1fr;
	grid-template-columns:1fr;
	grid-gap: 24px;
}
.contact-form {
	&__title {
		margin: 0 0 16px;
	}
	&__description {
		margin: 0 0 80px;
		@include desktop-992 {
			margin-bottom: 41px;
		}
	}
}
.contact-info {
	
	&__list {
		margin: 0 0 80px;
		@include desktop-992 {
			margin: 0 0 64px;
		}
		&-item {
			margin: 0 0 32px;
		}
		
	}
	&__follow {
		margin: 0;
	}
	&__label {
		color: #666;
		font-size: 14px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin: 0 0 16px;
	}
	&__social {
		gap: 12px;
		&-link {
			background-color: #fff;
			min-width: 40px;
			padding: 10px 5px;
			height: 40px;
			.style-svg,
			img {
				max-height: 20px;
			}
			&:hover {
				background-color: #E1E5F5;
			}
		}
	}
}
.contact-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: $navy-color;
	&--sm {
		font-size: 16px;
		line-height: 24px;
		max-width: 410px;
		.contact-item__visual {
			-webkit-box-flex:0 0 72px;
			-moz-box-flex: 0 0 72px;
			-webkit-flex: 0 0 72px;
			-ms-flex: 0 0 72px;
			flex: 0 0 72px;
			max-width: 72px;
			height: 72px;
			box-shadow: none;
			background: #FFFFFF;
			border: 1px solid #EDF1FA;
			border-radius: 4px;
			margin-right: 12px;
			@include desktop-992 {
				margin: 0;
			}
			@include mobile {
				-webkit-box-flex:0 0 64px;
				-moz-box-flex: 0 0 64px;
				-webkit-flex: 0 0 64px;
				-ms-flex: 0 0 64px;
				flex: 0 0 64px;
				max-width: 64px;
				height: 64px;
			}
			.style-svg,
			img {
				width: 40px;
				height: 40px;
			}
		}
		.contact-item__label {
			color: $navy-color;
			font-size: 12px;
			letter-spacing: 0.1em;
			font-weight: normal;
		}
		.contact-item__text {
			font-weight: 500;
		}
		@include desktop-992 {
			.contact-item__frame {
				display: none;
			}
		}
	}
	&:hover {
		.contact-item__visual {
			background-color: #DADFF2;
			box-shadow: none;
		}
		.contact-item__text {
			color: $blue-color;
			text-decoration: underline;
		}
	}
	&__visual {
		-webkit-box-flex:0 0 88px;
		-moz-box-flex: 0 0 88px;
		-webkit-flex: 0 0 88px;
		-ms-flex: 0 0 88px;
		flex: 0 0 88px;
		max-width: 88px;
		height: 88px;
		background: #FFFFFF;
		box-shadow: -105.228px 165.358px 143px rgba(0, 0, 0, 0.04), -68.2031px 107.176px 83.7477px rgba(0, 0, 0, 0.0303704), -40.5321px 63.6933px 45.5481px rgba(0, 0, 0, 0.0242963), -21.0455px 33.0715px 23.2375px rgba(0, 0, 0, 0.02), -8.5741px 13.4736px 11.6519px rgba(0, 0, 0, 0.0157037), -1.94866px 3.06218px 5.62732px rgba(0, 0, 0, 0.00962963);
		border-radius: 8px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 24px 0 0;
		transition: all 0.2s;
		@include desktop-992 {
			-webkit-box-flex:0 0 64px;
			-moz-box-flex: 0 0 64px;
			-webkit-flex: 0 0 64px;
			-ms-flex: 0 0 64px;
			flex: 0 0 64px;
			max-width: 64px;
			height: 64px;
			margin-right: 16px;
			.style-svg,
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
	&__frame {
		flex: 1 1 auto;
		min-width: 0;
	}
	&__label {
		color: #666;
		font-size: 14px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		margin: 0 0 6px;
	}
	&__text {
		transition: all 0.2s;
		font-weight: normal;
	}
}

.steps-section {
	padding: 0 0 104px 0;
	background-color: #fff;
	@include desktop {
		padding-bottom: 64px;
	}
	@include desktop-992 {
		padding-bottom: 48px;
	}
	@include tablet {
		padding-bottom: 40px;
	}
	&__frame {
		max-width: 1620px;
		margin-left: auto;
		margin-right: auto;
		background-color: $nude-color;
		padding: 80px 0 104px;
		color: $navy-color;
		position: relative;
		width: 100%;
		@include desktop {
			padding: 72px 0 88px;
		}
		@include desktop-992 {
			padding: 64px 0 72px;
		}
		@include tablet {
			padding: 56px 0 64px;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			height: 104px;
			background-color: $nude-color;
			@include desktop {
				height: 88px;
			}
			@include desktop-992 {
				height: 104px;
			}
		}
	}
	&__head {
		text-align: center;
		margin: 0 0 32px;
		@include tablet {
			margin-bottom: 24px;
		}
		
	}
	&__label {
		margin: 0 0 16px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.24em;
		text-transform: uppercase;
		@include desktop-992 {
			font-size: 14px;
		}
		@include tablet {
			font-size: 12px;
		}
	}
	&__title {
		margin: 0;
		color: $blue-color;
	}
}
.steps-list {
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:repeat(4, 1fr);
	grid-template-columns:repeat(4, 1fr);
	grid-gap: 40px;
	@include desktop {
		grid-gap: 24px;
	}
	@include desktop-992 {
		grid-gap: 16px;
	}
	@include tablet {
		-ms-grid-columns:repeat(2, 1fr);
		grid-template-columns:repeat(2, 1fr);
	}
	@include mobile-sm {
		-ms-grid-columns:1fr;
		grid-template-columns:1fr;
		grid-gap: 0;
	}
	&__item-wrap {
		padding: 48px;
		border-radius: 16px;
		transition: all 0.2s ease 0s;
		&:hover {
			background-color: #F4B9A4;
			box-shadow: 16px 32px 144px #E0A28B;
			@include mobile {
				box-shadow: none;
				background: none;
			}
		}
		@include desktop-992 {
			padding: 32px;
		}
		@include tablet {
			padding: 32px 40px;
		}
		@include mobile {
			padding: 32px;
		}
		@include mobile-sm {
			padding: 12px 24px;
		}
	}
	&__item-head {
		display:-ms-grid;
		display:grid;
		-ms-grid-columns:30px 1fr;
		grid-template-columns:30px 1fr;
		grid-gap: 16px;
		align-items: center;
		font-size: 24px;
		line-height: 1;
		font-weight: 500;
		margin: 0 0 16px;
		@include desktop-992 {
			font-size: 20px;
			-ms-grid-columns:26px 1fr;
			grid-template-columns:26px 1fr;
			grid-gap: 12px;
		}
		@include tablet {
			font-size: 18px;
			-ms-grid-columns:24px 1fr;
			grid-template-columns:24px 1fr;
		}
		@include mobile-sm {
			justify-content: center;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			margin: 0 0 12px;
		}
	}
	&__num {
		padding: 8px 0;
		position: relative;
		color: #fff;
		font-weight: 700;
		@include mobile-sm {
			-webkit-box-flex:0 0 24px;
			-moz-box-flex: 0 0 24px;
			-webkit-flex: 0 0 24px;
			-ms-flex: 0 0 24px;
			flex: 0 0 24px;
		}
		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			border-top: 2px solid rgba(255,255,255,.5);
		}
		&:before {
			bottom: 100%;
		}
		&:after {
			top: 100%;
		}
	}
	&__item-title {
		padding: 8px 0;
	}
	&__item-text {
		@include mobile-sm {
			text-align: center;
		}
	}
}

.faq-section {
	background-color: #F7F9FF;
	padding: 120px 0;
	@include desktop {
		padding: 88px 0;
	}
	@include desktop-992 {
		padding: 64px 0;
	}
	@include tablet {
		padding: 48px 0;
	}
	@include mobile {
		padding: 32px 0;
	}
}
.faq-title {
	margin: 0;
	@include mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 24px;
	}
	@include mobile-sm {
		display: block;
		text-align: center;
	}
	&__icon {
		margin: 0 0 40px;
		@include desktop-992 {
			margin: 0 0 32px;
			.style-svg,
			img {
				max-width: 72px;
				height: auto;
			}
		}
		@include tablet {
			margin: 0 0 24px;
			.style-svg,
			img {
				max-width: 64px;
			}
		}
		@include mobile {
			margin: 0 24px 0 0;
		}
		@include mobile-sm {
			margin: 0 0 16px;
		}
	}
	&__text {
		margin: 0;
	}
}

.wrap-budget-select {
	display: none;
	@include mobile-sm {
		display: block;
	}
}
.wrap-burget-radio {
	display: block;
	@include mobile-sm {
		display: none;
	}
}