@import "_variable";


.projects-section {
	padding: 0px 0 0;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 264px, rgba(247,249,255,1) 264px);
	
}
.index-projects {
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:repeat(2, 1fr);
	grid-template-columns:repeat(2, 1fr);
	grid-gap: 64px;
	padding-top: 112px;
	position: relative;
	@include desktop {
		grid-gap: 56px;
		padding-top: 104px;
	}
	@include desktop-992 {
		padding-top: 88px;
		grid-gap: 25px;
	}
	@include tablet {
		grid-gap: 16px;
		padding-top: 62px;
	}
	@include mobile {
		padding-top: 62px;
		grid-gap: 8px;
	}
	@include mobile-sm {
		padding: 0;
		display: block;
		margin: 0 -16px;
	}
	.work-list-item {
		@include mobile-sm {
			margin-bottom: 8px;
			display: block;
			padding: 0;
			height: 368px;
		}
	}
	.work-list-item:nth-child(2n) {
		margin-top: -112px;
		@include desktop {
			margin-top: -104px;
		}
		@include desktop-992 {
			margin-top: -88px;
		}
		@include tablet {
			margin-top: -72px;
		}
		@include mobile {
			margin-top: -72px;
		}
		@include mobile-sm {
			margin-top: 0;
		}
	}
	
}
.index-head-title {
	margin: 0 0 40px;
	max-width: 760px;
	position: relative;
	padding: 16px 0 0;
	@include desktop {
		max-width: 630px;
		margin: 0 0 32px;
	}
	@include desktop-992 {
		max-width: 630px;
	}
	@include tablet {
		max-width: 470px;
		padding-top: 8px;
	}
	@include mobile {
		margin-bottom: 32px;
	}
	@include mobile-sm {
		text-align: center;
		padding: 16px 0 0;
		font-size: 32px;
		line-height: 46px;
		br {
			display: none;
		}
	}
	.Typewriter__cursor {
		font-weight: normal;
	}
	.Typewriter__wrapper {
		background: -webkit-linear-gradient(top, rgba(#215FE5, .1), rgba(#215FE5, .1) 100%, transparent 100%);
		background: linear-gradient(top, rgba(#215FE5, .1), rgba(#215FE5, .1) 100%, transparent 100%);
		background-size: 10px 40%;
		background-repeat: repeat-x;
		background-position: 0 90%;
	}
	&__after {
		@include mobile-sm {
			display: block;
		}
	}
	
}
.index-head-btn {
	margin: 0 0 16px;
	position: relative;
	padding-left: 88px;
	@include tablet {
		padding-left: 72px;
	}
	@include mobile {
		padding-left: 64px;
	}
	@include mobile-sm {
		padding-left: 0;
		text-align: center;
		margin-bottom: 40px;
	}
	&__arrow {
		position: absolute;
		top: 50%;
		left: 0;
		width: 65px;
		height: 16px;
		margin-top: -8px;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='65' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.707 8.707a1 1 0 0 0 0-1.414L58.343.929a1 1 0 1 0-1.414 1.414L62.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM0 9h64V7H0v2Z' fill='%23D9E2FF'/%3E%3C/svg%3E");
		@include tablet {
			background-size: contain;
			background-position: 50% 50%;
			width: 56px;
		}
		@include mobile {
			width: 48px;
		}
		@include mobile-sm {
			display: none;
		}
	}
}
