@import "_variable";

.site-lp-google {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		background-repeat: no-repeat;
		background-position: 0 0;
		top: 0;
		left: 50%;
		margin-left: -155px;
		width: 1885px;
		height: 1435px;
		background-image: url("data:image/svg+xml,%3Csvg width='1885' height='1435' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M759.875-223.969c208.374-85.246 402.115-266.701 620.985-204.976 218.9 61.732 316.03 287.681 368.7 484.086 41.42 154.431-89.19 289.278-119.35 445.709-41 212.583 103.71 480.304-85.69 617.64-192.31 139.43-501.75 73.54-718.782-34.35-187.59-93.254-195.317-313.04-306.303-475.243-127.312-186.063-441.919-319.1-381.18-529.493 60.529-209.669 398.228-211.983 621.62-303.373Z' fill='%23215FE5'/%3E%3Cpath clip-rule='evenodd' d='M753.037-223.969c208.375-85.246 402.113-266.701 620.983-204.976 218.9 61.732 316.03 287.681 368.7 484.086 41.42 154.431-89.19 289.278-119.35 445.709-40.99 212.583 103.72 480.304-85.69 617.64-192.31 139.43-501.75 73.54-718.78-34.35-187.589-93.254-195.317-313.04-306.303-475.243-127.312-186.063-441.918-319.1-381.18-529.493 60.529-209.669 398.228-211.983 621.62-303.373Z' stroke='%23215FE5'/%3E%3Cpath opacity='.75' clip-rule='evenodd' d='M741.642-223.969c208.375-85.246 402.118-266.701 620.988-204.976 218.89 61.732 316.03 287.681 368.7 484.086 41.41 154.431-89.19 289.278-119.35 445.709-41 212.583 103.71 480.304-85.7 617.64-192.3 139.43-501.74 73.54-718.775-34.35-187.589-93.254-195.316-313.04-306.303-475.243-127.312-186.063-441.918-319.1-381.18-529.493 60.53-209.669 398.228-211.983 621.62-303.373Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M730.248-223.969c208.374-85.246 402.112-266.701 620.982-204.976 218.9 61.732 316.03 287.681 368.7 484.086 41.42 154.431-89.18 289.278-119.35 445.709-40.99 212.583 103.72 480.304-85.69 617.64-192.31 139.43-501.75 73.54-718.779-34.35-187.589-93.254-195.317-313.04-306.303-475.243-127.312-186.063-441.918-319.1-381.18-529.493 60.529-209.669 398.228-211.983 621.62-303.373Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M718.853-223.969c208.375-85.246 402.117-266.701 620.987-204.976 218.89 61.732 316.03 287.681 368.7 484.086 41.41 154.431-89.19 289.278-119.35 445.709-41 212.583 103.71 480.304-85.7 617.64-192.3 139.43-501.74 73.54-718.774-34.35C597.127 990.886 589.4 771.1 478.413 608.897 351.101 422.834 36.495 289.797 97.233 79.404c60.53-209.669 398.228-211.983 621.62-303.373Z' stroke='%23215FE5'/%3E%3C/svg%3E");
		@include desktop {
			margin-left: -207px;
		}
		@include desktop-992 {
			margin-left: -177px;
		}
		@include tablet {
			margin-left: -12px;
			width: 736px;
			height: 1080px;
			background-image: url("data:image/svg+xml,%3Csvg width='736' height='1080' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M305.742-301.053c83.908-70.981 161.923-222.071 250.057-170.675 88.144 51.402 127.259 239.54 148.468 403.079 16.677 128.588-35.914 240.87-48.061 371.124-16.507 177.01 41.765 399.93-34.506 514.281-77.437 116.1-202.043 61.238-289.437-28.598-75.538-77.65-78.649-260.656-123.341-395.717C157.656 237.514 30.972 126.739 55.429-48.446c24.374-174.583 160.358-176.51 250.313-252.607Z' fill='%23215FE5'/%3E%3Cpath clip-rule='evenodd' d='M302.99-301.053c83.908-70.981 161.923-222.071 250.057-170.675 88.145 51.402 127.259 239.54 148.468 403.079 16.677 128.588-35.914 240.87-48.061 371.124-16.507 177.01 41.765 399.93-34.506 514.281-77.437 116.1-202.043 61.238-289.437-28.598-75.538-77.65-78.649-260.656-123.341-395.717C154.904 237.514 28.22 126.739 52.677-48.446 77.051-223.03 213.035-224.956 302.99-301.053Z' stroke='%23215FE5'/%3E%3Cpath opacity='.75' clip-rule='evenodd' d='M298.4-301.053c83.908-70.981 161.924-222.071 250.057-170.675 88.145 51.402 127.259 239.54 148.468 403.079 16.677 128.588-35.914 240.87-48.061 371.124-16.507 177.01 41.765 399.93-34.506 514.281-77.437 116.1-202.043 61.238-289.436-28.598-75.538-77.65-78.65-260.656-123.342-395.717C150.314 237.514 23.63 126.739 48.087-48.446 72.461-223.03 208.445-224.956 298.4-301.053Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M293.814-301.053c83.908-70.981 161.924-222.071 250.057-170.675 88.145 51.402 127.259 239.54 148.468 403.079 16.677 128.588-35.914 240.87-48.061 371.124-16.507 177.01 41.765 399.93-34.506 514.281-77.437 116.1-202.043 61.238-289.436-28.598-75.538-77.65-78.65-260.656-123.342-395.717C145.729 237.514 19.044 126.739 43.501-48.446 67.875-223.03 203.86-224.956 293.814-301.053Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M289.282-300.962c83.925-70.954 161.95-222.008 250.109-170.599 88.17 51.415 127.306 239.538 148.532 403.06 16.689 128.576-35.908 240.832-48.048 371.066-16.5 176.984 41.801 399.889-34.481 514.209-77.448 116.069-202.089 61.186-289.511-28.658-75.562-77.656-78.686-260.64-123.398-395.693C141.196 237.504 14.471 126.715 38.924-48.443 63.292-222.998 199.31-224.895 289.282-300.962Z' stroke='%23215FE5'/%3E%3C/svg%3E");
		}
		@include mobile {
			opacity: .3;
			margin-left: 108px;
		}
	}
	
	.site-main {
		position: relative;
		&::before,
		&::after {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			width: 1920px;
			height: 2193px;
			z-index: -2;
			background-image: url("data:image/svg+xml,%3Csvg width='1920' height='2193' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M810.92 72.079c223.76 79.86 291.08 356.928 454.53 530.856 122.41 130.256 364.91 179.138 380.87 358.088 16.56 185.697-278.88 263.407-309.04 447.347-40.48 246.86 285.14 538.85 117.2 722.66-152.95 167.4-438.02-53.01-643.56-146.58-136.366-62.08-199.926-214.06-326.277-294.95-141.092-90.33-382.619-44.21-446.899-200.05-62.998-152.73 178.479-283.67 179.114-449.15 1.169-304.534-332.818-614.925-174.036-873.715C182.195-60.57 561.606-16.9 810.92 72.079Z' stroke='%23215FE5'/%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M901.924 72.079c223.766 79.86 291.086 356.928 454.536 530.856 122.41 130.256 364.9 179.138 380.86 358.088 16.56 185.697-278.88 263.407-309.04 447.347-40.47 246.86 285.14 538.85 117.2 722.66-152.95 167.4-438.02-53.01-643.556-146.58-136.366-62.08-199.926-214.06-326.277-294.95-141.093-90.33-382.619-44.21-446.899-200.05-62.998-152.73 178.478-283.67 179.114-449.15 1.169-304.534-332.818-614.925-174.036-873.715C273.199-60.57 652.609-16.9 901.924 72.079Z' stroke='%23215FE5'/%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M992.93 72.079c223.76 79.86 291.08 356.928 454.53 530.856 122.41 130.256 364.91 179.138 380.87 358.088 16.55 185.697-278.88 263.407-309.04 447.347-40.48 246.86 285.14 538.85 117.2 722.66-152.95 167.4-438.02-53.01-643.56-146.58-136.366-62.08-199.926-214.06-326.277-294.95-141.093-90.33-382.619-44.21-446.899-200.05-62.998-152.73 178.478-283.67 179.114-449.15 1.169-304.534-332.818-614.925-174.036-873.715C364.205-60.57 743.615-16.9 992.93 72.079Z' stroke='%23215FE5'/%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M1083.93 72.079c223.77 79.86 291.09 356.928 454.54 530.856 122.41 130.256 364.9 179.138 380.86 358.088 16.56 185.697-278.88 263.407-309.04 447.347-40.47 246.86 285.14 538.85 117.2 722.66-152.95 167.4-438.02-53.01-643.56-146.58-136.362-62.08-199.922-214.06-326.274-294.95-141.092-90.33-382.618-44.21-446.898-200.05-62.998-152.73 178.478-283.67 179.113-449.15 1.17-304.534-332.818-614.925-174.035-873.715C455.209-60.57 834.619-16.9 1083.93 72.079Z' stroke='%23215FE5'/%3E%3C/svg%3E");
		}
		&::before {
			top: -256px;
			right: 50%;
			margin-right: 242px;
		}
		&::after {
			top: 2008px;
			left: 50%;
			margin-left: 30px;
			background-image: url("data:image/svg+xml,%3Csvg width='1920' height='2194' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M1121.21 2120.92c-226.211-79.86-294.267-356.93-459.505-530.86-123.748-130.25-368.895-179.13-385.027-358.08-16.741-185.7 281.928-263.411 312.417-447.351 40.917-246.856-288.259-538.853-118.484-722.655 154.628-167.405 442.815 53.002 650.599 146.574 137.86 62.082 202.11 214.06 329.85 294.952 142.63 90.33 386.8 44.212 451.78 200.048 63.69 152.727-180.43 283.673-181.07 449.152-1.18 304.53 336.46 614.93 175.94 873.72-140.9 227.15-524.46 183.48-776.5 94.5Z' stroke='%23215FE5'/%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M1029.21 2120.92c-226.211-79.86-294.267-356.93-459.505-530.86-123.748-130.25-368.895-179.13-385.027-358.08-16.741-185.7 281.928-263.411 312.417-447.351 40.917-246.856-288.259-538.853-118.484-722.655 154.628-167.405 442.815 53.002 650.599 146.574 137.86 62.082 202.11 214.06 329.85 294.952 142.63 90.33 386.8 44.212 451.78 200.048 63.69 152.727-180.43 283.673-181.07 449.152-1.18 304.53 336.46 614.93 175.94 873.72-140.9 227.15-524.46 183.48-776.5 94.5Z' stroke='%23215FE5'/%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M937.211 2120.92c-226.212-79.86-294.268-356.93-459.506-530.86-123.748-130.25-368.895-179.13-385.027-358.08-16.741-185.7 281.928-263.411 312.417-447.351 40.917-246.856-288.259-538.853-118.484-722.655 154.628-167.405 442.815 53.002 650.599 146.574 137.86 62.082 202.11 214.06 329.85 294.952 142.63 90.33 386.8 44.212 451.78 200.048 63.69 152.727-180.43 283.673-181.07 449.152-1.18 304.53 336.46 614.93 175.94 873.72-140.9 227.15-524.46 183.48-776.499 94.5Z' stroke='%23215FE5'/%3E%3Cpath opacity='.1' clip-rule='evenodd' d='M845.211 2120.92c-226.212-79.86-294.268-356.93-459.506-530.86C261.957 1459.81 16.81 1410.93.678 1231.98c-16.741-185.7 281.928-263.411 312.417-447.351C354.012 537.773 24.836 245.776 194.611 61.974c154.628-167.405 442.815 53.002 650.599 146.574 137.858 62.082 202.11 214.06 329.85 294.952 142.63 90.33 386.8 44.212 451.78 200.048 63.69 152.727-180.43 283.673-181.07 449.152-1.18 304.53 336.46 614.93 175.94 873.72-140.9 227.15-524.46 183.48-776.499 94.5Z' stroke='%23215FE5'/%3E%3C/svg%3E");
		}
	}
}
.main-navigation-landing {
	.btn {
		font-weight: 500;
	}
}
.site-header {
	&--landing-google {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: transparent;
		.logo {
			background-image: url("data:image/svg+xml,%3Csvg width='164' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23215FE5'%3E%3Cpath d='M8.819.01C3.85.01.385 2.785.154 6.945h5.392c.155-1.58 1.502-2.542 3.159-2.542 1.925 0 3.043 1.154 3.043 2.967v.423H8.974C3.081 7.791 0 10.332 0 14.223c0 3.428 2.735 5.778 6.701 5.778 2.273 0 4.045-1.002 5.162-2.543v2.003h5.315V7.867c0-4.697-3.197-7.856-8.36-7.856Zm-1 15.87c-1.618 0-2.504-.848-2.504-2.042 0-1.502 1.27-2.39 3.775-2.39h2.773c0 2.544-1.85 4.431-4.044 4.431ZM30.935.01c-2.234 0-4.12.964-5.469 2.505V.55h-5.274V19.46h5.432V9.101c0-2.504 1.54-4.083 3.658-4.083 2.196 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C38.1 3.283 35.21.01 30.935.01ZM51.539.01c-2.234 0-4.12.964-5.47 2.505V.55h-5.273V19.46h5.431V9.101c0-2.504 1.54-4.083 3.659-4.083 2.195 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C58.702 3.283 55.814.01 51.539.01ZM71.035.01c-5.392 0-9.972 4.469-9.972 10.17 0 5.584 4.16 9.82 9.744 9.82 5.046 0 8.474-2.966 9.36-6.625H74.81c-.385 1.195-1.888 2.12-3.66 2.12-2.349 0-4.313-1.503-4.814-4.084H80.24c.1-.714.152-1.435.154-2.156 0-5.161-4.005-9.244-9.36-9.244Zm-4.391 7.55c.732-2.003 2.39-3.158 4.39-3.158 2.119 0 3.699 1.425 3.852 3.158h-8.242ZM123.426 5.046c1.886 0 3.504 1.236 3.851 2.657h5.469C132.245 3.273 128.278 0 123.502 0c-5.546 0-9.937 4.237-9.937 10.014 0 5.74 4.391 9.973 9.937 9.973 4.853 0 8.859-3.235 9.244-7.896h-5.431c-.385 1.657-2.003 2.85-3.889 2.85-2.581 0-4.584-2.08-4.584-4.929.002-2.925 2.003-4.966 4.584-4.966ZM144.853 0c-5.624 0-10.055 4.391-10.055 9.972 0 5.624 4.429 10.014 10.055 10.014 5.584 0 10.054-4.39 10.054-10.014-.002-5.58-4.47-9.972-10.054-9.972Zm0 14.982c-2.735 0-4.78-2.156-4.78-5.006s2.041-4.97 4.78-4.97c2.696 0 4.737 2.12 4.737 4.97 0 2.85-2.041 5.01-4.737 5.01v-.004ZM163.185 13.75h-5.893v5.7h5.893v-5.7ZM99.641.677h-5.39v6.88h-6.78v5.01h6.786v6.883h5.401v-6.892h6.764V7.545h-6.78V.677Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h163.185v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='164' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23D07D59'%3E%3Cpath d='M8.819.01C3.85.01.385 2.785.154 6.945h5.392c.155-1.58 1.502-2.542 3.159-2.542 1.925 0 3.043 1.154 3.043 2.967v.423H8.974C3.081 7.791 0 10.332 0 14.223c0 3.428 2.735 5.778 6.701 5.778 2.273 0 4.045-1.002 5.162-2.543v2.003h5.315V7.867c0-4.697-3.197-7.856-8.36-7.856Zm-1 15.87c-1.618 0-2.504-.848-2.504-2.042 0-1.502 1.27-2.39 3.775-2.39h2.773c0 2.544-1.85 4.431-4.044 4.431ZM30.935.01c-2.234 0-4.12.964-5.469 2.505V.55h-5.274V19.46h5.432V9.101c0-2.504 1.54-4.083 3.658-4.083 2.196 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C38.1 3.283 35.21.01 30.935.01ZM51.539.01c-2.234 0-4.12.964-5.47 2.505V.55h-5.273V19.46h5.431V9.101c0-2.504 1.54-4.083 3.659-4.083 2.195 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C58.702 3.283 55.814.01 51.539.01ZM71.035.01c-5.392 0-9.972 4.469-9.972 10.17 0 5.584 4.16 9.82 9.744 9.82 5.046 0 8.474-2.966 9.36-6.625H74.81c-.385 1.195-1.888 2.12-3.66 2.12-2.349 0-4.313-1.503-4.814-4.084H80.24c.1-.714.152-1.435.154-2.156 0-5.161-4.005-9.244-9.36-9.244Zm-4.391 7.55c.732-2.003 2.39-3.158 4.39-3.158 2.119 0 3.699 1.425 3.852 3.158h-8.242ZM123.426 5.046c1.886 0 3.504 1.236 3.851 2.657h5.469C132.245 3.273 128.278 0 123.502 0c-5.546 0-9.937 4.237-9.937 10.014 0 5.74 4.391 9.973 9.937 9.973 4.853 0 8.859-3.235 9.244-7.896h-5.431c-.385 1.657-2.003 2.85-3.889 2.85-2.581 0-4.584-2.08-4.584-4.929.002-2.925 2.003-4.966 4.584-4.966ZM144.853 0c-5.624 0-10.055 4.391-10.055 9.972 0 5.624 4.429 10.014 10.055 10.014 5.584 0 10.054-4.39 10.054-10.014-.002-5.58-4.47-9.972-10.054-9.972Zm0 14.982c-2.735 0-4.78-2.156-4.78-5.006s2.041-4.97 4.78-4.97c2.696 0 4.737 2.12 4.737 4.97 0 2.85-2.041 5.01-4.737 5.01v-.004ZM163.185 13.75h-5.893v5.7h5.893v-5.7ZM99.641.677h-5.39v6.88h-6.78v5.01h6.786v6.883h5.401v-6.892h6.764V7.545h-6.78V.677Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h163.185v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			}
		}
		.secondary-btn--white {
			@include mobile {
				color: $navy-color;
				box-shadow: inset 0 0 0 2px $navy-color;
			}
		}
	}
}

.lp-ggl-promo-section {
	padding: 216px 0 28px;
	@include desktop {
		padding: 172px 0 28px;
	}
	@include desktop-992 {
		padding: 136px 0 28px;
	}
	@include tablet {
		padding: 130px 0 28px;
	}
	@include mobile {
		padding: 110px 0 28px;
	}
	&__wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
		@include mobile {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 48px;
		}
	}
	&__content {
		padding: 33px 0 0;
		@include tablet {
			padding: 11px 0 0;
		}
	}
	&__form {
		padding: 32px;
		background: #FFFFFF;
		box-shadow: 8px 16px 46px rgba(0, 0, 0, 0.25);
		border-radius: 24px;
		@include tablet {
			padding: 24px;
		}
	}
	&__title {
		margin: 0 0 44px;
		color: $orange-color;
		position: relative;
		@include tablet {
			font-size: 32px;
			line-height: 56px;
			margin: 0 0 24px;
		}
		@include mobile {
			text-align: center;
			font-size: 40px;
		}
		&::before {
			content: '';
			position: absolute;
			bottom: -82px;
			right: -24px;
			width: 130px;
			height: 115px;
			background-image: url("data:image/svg+xml,%3Csvg width='130' height='115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m74.036 102.874 18.87-28.762-26.562-19.35' stroke='%23F4B9A4' stroke-width='7' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m92.677 73.322-35.892 7.445c-24.78 5.14-48.266-11.989-52.461-38.259l-.76-4.756' stroke='%23F4B9A4' stroke-width='7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			@include tablet {
				width: 89px;
				height: 66px;
				bottom: -44px;
				right: -18px;
				background-image: url("data:image/svg+xml,%3Csvg width='89' height='66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58.458 60.524 76.86 49.648 59.4 31.815' stroke='%23F4B9A4' stroke-width='8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M74.236 49.431 45.903 43.94c-19.56-3.791-34.996-19.57-34.477-35.245l.094-2.838' stroke='%23F4B9A4' stroke-width='8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
			}
			@include mobile {
				display: none;
			}
		}
	}
	&__subtitle {
		margin: 0 0 44px;
		max-width: 531px;
		@include desktop {
			margin-bottom: 32px;
		}
		@include tablet {
			margin: 0 0 24px;
		}
		@include mobile {
			text-align: center;
		}
	}
}
.lp-ggl-promo-list {
	padding:0;
	margin:0;
	list-style:none;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 16px;
	max-width: 500px;
	@include desktop {
		grid-gap: 32px;
	}
	@include tablet {
		grid-gap: 24px;
	}
	@include mobile {
		margin-left: auto;
		margin-right: auto;
		max-width: 466px;
	}
	&__item {
		position: relative;
		padding-left: 52px;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		@include desktop {
			font-size: 18px;
			line-height: 28px;
			font-weight: 500;
		}
		@include tablet {
			font-size: 16px;
			line-height: 24px;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			width: 28px;
			height: 28px;
			background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 28c7.659 0 14-6.355 14-14 0-7.659-6.355-14-14.014-14C6.341 0 0 6.341 0 14c0 7.645 6.355 14 14 14Zm0-2.333A11.61 11.61 0 0 1 2.347 14c0-6.478 5.16-11.667 11.64-11.667A11.642 11.642 0 0 1 25.666 14C25.68 20.478 20.478 25.667 14 25.667Zm-1.51-5.147c.453 0 .838-.22 1.112-.645l6.273-9.87c.15-.274.329-.576.329-.878 0-.617-.55-1.015-1.126-1.015-.343 0-.686.22-.947.617l-5.696 9.142-2.704-3.5c-.329-.44-.631-.55-1.015-.55-.59 0-1.057.481-1.057 1.085 0 .302.123.59.316.85l3.348 4.119c.344.452.714.645 1.167.645Z' fill='%23215FE5'/%3E%3C/svg%3E");
		}
	}
	&__text {
		opacity: .8;
	}
}
.lp-ggl-cases {
	padding: 104px 0;
	@include desktop {
		padding: 60px 0;
	}
	@include desktop-992 {
		padding: 45px 0;
	}
	&__title {
		text-align: center;
		margin: 0 0 64px;
		color: $orange-color;
		@include desktop-992 {
			margin: 0 0 40px;
		}
	}
}
.lp-ggl-cases-list {
	padding:0;
	margin:0;
	list-style:none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
	@include desktop-992 {
		grid-gap: 8px;
	}
	@include tablet {
		grid-template-columns: repeat(1, 1fr);
	}
	@include mobile-sm {
		grid-gap: 16px;
	}
	&__item {
		&:nth-child(2n) {
			.lp-ggl-cases-list__visual {
				@include tablet {
					order: 2;
				}
				@include mobile-sm {
					order: 0;
				}
			}
		}
	}
	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
		background: #FFFFFF;
		border: 1px solid #E6E9F2;
		text-decoration: none;
		color: $navy-color;
		@include tablet {
			flex-direction: row;
			align-items: stretch;
		}
		@include mobile-sm {
			flex-direction: column;
		}
		
	}
	&__visual {
		position: relative;
		padding-bottom: 66%;
		overflow: hidden;
		@include tablet {
			flex: 0 0 50%;
			padding: 0;
			height: 200px;
		}
		@include mobile {
			min-height: 200px;
			height: auto;
		}
		@include mobile-sm {
			height: 200px;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s ease 0s;
		}
	}
	&__frame {
		padding: 40px;
		@include desktop-992 {
			padding: 30px;
		}
		@include tablet {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 36px;
		margin: 0 0 8px;
		transition: all 0.3s ease 0s;
		@include desktop-992 {
			font-size: 24px;
		}
	}
	&__description {
		margin: 0;
		p {
			margin: 0;
		}
	}
}

.lp-ggl-logos-section {
	padding: 96px 0;
	position: relative;
	@include desktop {
		padding: 43px 0;
	}
	@include desktop-992 {
		padding: 107px 0;
	}
	@include tablet {
		padding: 75px 0;
	}
	&::before {
		// content: '';
		position: absolute;
		top: -998px;
		right: 50%;
		margin-right: 522px;
		width: 1920px;
		height: 2488px;
		z-index: -1;
		pointer-events: none;
		background-image: url("data:image/svg+xml,%3Csvg width='1920' height='2488' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1489.51 770.158c147.71 154.549 397.5 271.802 386.22 473.272-11.28 201.49-234.75 342.28-437.23 437.74-159.2 75.06-341.37-.74-521.294 14.16-244.512 20.27-501.637 212.18-701.756 87.18-203.18-126.9-210.758-406.22-148.207-618.07 54.065-183.12 293.894-246.536 443.646-382.569C682.668 625.828 747.638 324.766 994.85 321.807c246.36-2.948 336.29 282.664 494.66 448.351Z' fill='%23215FE5'/%3E%3Cpath clip-rule='evenodd' d='M1487.67 764.249c147.69 154.518 397.41 271.771 386.18 473.171-11.22 201.41-234.57 342.11-436.94 437.49-159.11 75-341.23-.81-521.072 14.06-244.405 20.21-501.376 212-701.442 87.02C11.27 1649.09 3.627 1369.88 66.1 1158.11c53.998-183.036 293.712-246.383 443.368-382.337 171.669-155.952 236.539-456.889 483.646-459.8 246.256-2.901 336.226 282.621 494.556 448.276Z' stroke='%23215FE5'/%3E%3Cpath opacity='.75' clip-rule='evenodd' d='M1484.79 754.707c147.71 154.548 397.5 271.803 386.22 473.273-11.28 201.49-234.75 342.28-437.22 437.74-159.21 75.06-341.38-.75-521.3 14.16-244.513 20.26-501.638 212.18-701.757 87.18C7.553 1640.15-.024 1360.84 62.526 1148.99c54.065-183.122 293.895-246.538 443.646-382.571 171.78-156.043 236.75-457.105 483.961-460.064 246.357-2.948 336.297 282.665 494.657 448.352Z' stroke='%23215FE5'/%3E%3Cpath opacity='.5' clip-rule='evenodd' d='M1481.84 745.049c147.72 154.549 397.5 271.801 386.22 473.271-11.28 201.5-234.75 342.28-437.22 437.74-159.21 75.06-341.37-.74-521.3 14.17-244.512 20.26-501.637 212.17-701.756 87.18C4.604 1630.5-2.973 1351.18 59.577 1139.33c54.065-183.119 293.894-246.535 443.646-382.568 171.779-156.043 236.749-457.105 483.961-460.064 246.356-2.949 336.296 282.664 494.656 448.351Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M1478.85 735.431c147.7 154.56 397.47 271.819 386.19 473.309-11.28 201.51-234.74 342.31-437.2 437.77-159.19 75.07-341.34-.74-521.254 14.17-244.493 20.27-501.6 212.2-701.702 87.2C1.721 1620.96-5.853 1341.62 56.694 1129.75c54.063-183.131 293.874-246.554 443.615-382.599 171.767-156.056 236.735-457.142 483.927-460.103 246.344-2.95 336.264 282.684 494.614 448.383Z' stroke='%23215FE5'/%3E%3C/svg%3E");
	}
	&__title {
		text-align: center;
		color: #BFBFBF;
		margin: 0 0 74px;
		@include desktop {
			margin: 0 0 48px;
		}
		@include desktop-992 {
			display: none;
		}
	}
}
.lp-ggl-logos-list {
	display: flex;
	gap:64px;
	flex-wrap: wrap;
	padding:0;
	margin:0;
	list-style:none;
	justify-content: space-between;
	@include desktop {
		gap:40px;
	}
	@include desktop-992 {
		gap:32px;
	}
	@include tablet {
		gap:24px;
		justify-content: center;
	}
	img {
		height: 72px;
		width: auto;
		@include desktop {
			height: 64px;
		}
		@include desktop-992 {
			height: 56px;
		}
		@include tablet {
			height: 40px;
		}
	}
}
.lp-ggl-process-section {
	padding: 144px 0 100px;
	position: relative;
	@include desktop-992 {
		padding: 32px 0;
	}
	@include desktop-992 {
		padding: 32px 0 48px;
	}
	
	&__wrap {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 32px;
		@include tablet {
			grid-gap: 8px;
		}
		@include mobile {
			grid-template-columns: 1fr;
			grid-gap: 52px;
		}
	}
	&__label {
		margin: 0 0 16px;
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0.24em;
		text-transform: uppercase;
		color: #BFBFBF;
		@include mobile {
			text-align: center;
		}
	}
	&__head {
		text-align: center;
	}
	&__title {
		margin: 0;
		color: $orange-color;
		@include mobile {
			text-align: center;
		}
	}
	.process-svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
	}
}
.process-steps {
	margin: 0;
	@include desktop {
		display:-ms-grid;
		display:grid;
		-ms-grid-columns:1fr;
		grid-template-columns:1fr;
		grid-gap: 16px;
		margin: 0;
	}
	@include desktop-992 {
		margin: 0;
	}
	@include tablet {
		grid-gap: 8px;
	}
	@include mobile {
		margin: 0;
	}
	&__item {
		padding: 40px 64px 40px 90px;
		position: relative;
		transition: background 0.3s ease 0s;
		cursor: pointer;
		@include desktop {
			padding: 24px 64px 24px 64px;
		}
		@include desktop-992 {
			padding: 24px 32px 24px 48px;
		}
		&:not(:first-child):before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 90px;
			border-top: 2px solid #D9D9D9;
			margin-top: -1px;
			@include desktop {
				left: 64px;
				top: -8px;
			}
			@include desktop-992 {
				left: 48px;
			}
			@include tablet {
				top: -4px;
			}
		}
		&.active {
			background-color: #fff;
			pointer-events: none;
			box-shadow: 0px 8px 120px #F2F2F2;
			&:before {
				display: none;
			}
			& + *:before {
				display: none;
			}
			
			.process-steps__progress {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	&__num {
		position: absolute;
		top: 40px;
		left: 40px;
		font-size: 28px;
		line-height: 36px;
		color: #000;
		font-weight: 400;
		@include desktop {
			font-size: 26px;
			line-height: 34px;
			font-weight: 500;
			left: 24px;
			top: 24px;
		}
		@include desktop-992 {
			left: 16px;
			font-size: 24px;
			line-height: 32px;
		}
		@include tablet {
			font-size: 22px;
			line-height: 28px;
		}
	}
	&__title {
		font-size: 28px;
		line-height: 36px;
		color: #000;
		font-weight: 400;
		margin: 0;
		@include desktop {
			font-size: 26px;
			line-height: 34px;
			font-weight: 500;
		}
		@include desktop-992 {
			font-size: 24px;
			line-height: 32px;
		}
		@include tablet {
			font-size: 22px;
			line-height: 28px;
		}
	}
	&__text {
		display: none;
		color: #1E293A;
	}
	&__content {
		padding-top: 16px;
	}
	&__progress {
		position: absolute;
		height: 4px;
		background-color: $blue-color;
		bottom: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}

.lp-ggl-testimonial-section {
	padding: 75px 0 0;
	@include desktop {
		padding: 60px 0 0;
	}
	@include mobile {
		padding: 40px 0 0;
	}
	.testimonial-section {
		background: none;
		padding-top: 0;
		@include desktop-992 {
			padding-top: 14px;
		}
	}
	&__title {
		text-align: center;
		color: #BFBFBF;
		margin: 0 0 37px;
		
	}
	.testimonial-slider__text {
		color: $blue-color;
		&::before {
			opacity: .2;
			background-image: url("data:image/svg+xml,%3Csvg width='168' height='80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.667 33.333c-.743 0-1.457.113-2.167.217.23-.774.467-1.56.847-2.267.38-1.027.973-1.917 1.563-2.814.494-.97 1.364-1.626 2.004-2.456.67-.807 1.583-1.344 2.306-2.014.71-.7 1.64-1.05 2.38-1.543.774-.443 1.447-.933 2.167-1.166l1.797-.74 1.58-.657-1.617-6.46-1.99.48c-.637.16-1.413.346-2.297.57-.903.166-1.866.623-2.94 1.04-1.06.473-2.286.793-3.426 1.553-1.147.727-2.47 1.334-3.637 2.307-1.13 1.003-2.493 1.873-3.5 3.15-1.1 1.193-2.187 2.447-3.03 3.873-.977 1.36-1.64 2.854-2.34 4.33a36.927 36.927 0 0 0-1.56 4.454c-.79 2.94-1.143 5.733-1.28 8.123-.113 2.393-.047 4.383.093 5.823.05.68.144 1.34.21 1.797l.084.56.086-.02a15 15 0 1 0 14.667-18.14Zm36.667 0c-.744 0-1.457.113-2.167.217.23-.774.467-1.56.847-2.267.38-1.027.973-1.917 1.563-2.814.493-.97 1.363-1.626 2.003-2.456.67-.807 1.584-1.344 2.307-2.014.71-.7 1.64-1.05 2.38-1.543.773-.443 1.447-.933 2.167-1.166l1.796-.74 1.58-.657-1.616-6.46-1.99.48c-.637.16-1.414.346-2.297.57-.903.166-1.867.623-2.94 1.04-1.057.476-2.287.793-3.427 1.556-1.146.727-2.47 1.334-3.636 2.307-1.13 1.004-2.494 1.873-3.5 3.147-1.1 1.193-2.187 2.447-3.03 3.873-.977 1.36-1.64 2.854-2.34 4.33a36.907 36.907 0 0 0-1.56 4.454c-.79 2.94-1.144 5.733-1.28 8.123-.114 2.393-.047 4.383.093 5.823.05.68.143 1.34.21 1.797l.083.56.087-.02a15.001 15.001 0 1 0 14.667-18.14ZM146.333 46.667c.743 0 1.457-.113 2.167-.217-.23.774-.467 1.56-.847 2.267-.38 1.027-.973 1.917-1.563 2.814-.494.97-1.364 1.626-2.004 2.456-.67.807-1.583 1.343-2.306 2.014-.71.7-1.64 1.05-2.38 1.543-.774.443-1.447.933-2.167 1.167l-1.797.74-1.58.656 1.617 6.46 1.99-.48c.637-.16 1.413-.347 2.297-.57.903-.166 1.866-.623 2.94-1.04 1.06-.473 2.286-.793 3.426-1.553 1.147-.727 2.47-1.334 3.637-2.307 1.13-1.003 2.493-1.873 3.5-3.15 1.1-1.193 2.187-2.447 3.03-3.873.977-1.36 1.64-2.854 2.34-4.33a37.045 37.045 0 0 0 1.56-4.454c.79-2.94 1.143-5.733 1.28-8.123.113-2.393.047-4.383-.093-5.823-.05-.68-.144-1.34-.21-1.797l-.084-.56-.086.02a15.001 15.001 0 1 0-14.667 18.14Zm-36.667 0c.744 0 1.457-.113 2.167-.217-.23.774-.467 1.56-.847 2.267-.38 1.027-.973 1.917-1.563 2.814-.493.97-1.363 1.626-2.003 2.456-.67.807-1.584 1.343-2.307 2.014-.71.7-1.64 1.05-2.38 1.543-.773.443-1.447.933-2.167 1.167l-1.796.74-1.58.656 1.616 6.46 1.99-.48c.637-.16 1.414-.347 2.297-.57.903-.166 1.867-.623 2.94-1.04 1.057-.477 2.287-.793 3.427-1.557 1.146-.726 2.47-1.333 3.636-2.306 1.13-1.003 2.494-1.873 3.5-3.147 1.1-1.193 2.187-2.447 3.03-3.873.977-1.36 1.64-2.854 2.34-4.33a36.7 36.7 0 0 0 1.56-4.454c.79-2.94 1.144-5.733 1.28-8.123.114-2.393.047-4.383-.093-5.823-.05-.68-.143-1.34-.21-1.797l-.083-.56-.087.02a15.001 15.001 0 1 0-14.667 18.14Z' fill='%23215FE5'/%3E%3C/svg%3E");
		}
	}
	.testimonial-slider__author-name {
		color: $orange-color;
	}
	.testimonial-slider .owl-dot span {
		background-color: $orange-color;
		opacity: .25;
	}
	.testimonial-slider .owl-dot.active span {
		background-color: $orange-color;
		opacity: 1;
	}
}





.lp-contact-section {
	padding: 144px 0;
	padding: 80px 0;
	margin: 96px 0 0;
	position: relative;
	color: $navy-color;
	@include desktop {
		margin: 0;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: -1;
		width: 1792px;
		height: 866px;
		background-image: url("data:image/svg+xml,%3Csvg width='1792' height='866' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1418.83 654.556c121.88 126.032 309.1 213.67 327.74 389.774 18.64 176.13-116.66 311.69-243.46 406.56-99.69 74.59-234.96 19.13-356.79 42.54-165.571 31.81-317.326 213.85-471.387 116.59-156.417-98.75-198.229-341.55-182.955-529.68 13.203-162.604 169.896-231.729 255.1-358.874 97.737-145.848 102.988-411.799 272.682-428.701 169.11-16.844 268.41 226.676 399.07 361.791Z' fill='%23215FE5'/%3E%3Cpath clip-rule='evenodd' d='M1416.85 649.612c121.88 126.032 309.1 213.67 327.74 389.778 18.64 176.13-116.66 311.69-243.45 406.55-99.7 74.59-234.96 19.14-356.8 42.55-165.568 31.81-317.323 213.84-471.384 116.58-156.416-98.74-198.229-341.55-182.954-529.67 13.202-162.608 169.895-231.733 255.099-358.878 97.738-145.848 102.988-411.799 272.679-428.701 169.11-16.844 268.41 226.676 399.07 361.791Z' stroke='%23215FE5'/%3E%3Cpath opacity='.75' clip-rule='evenodd' d='M1413.56 641.373c121.88 126.032 309.1 213.67 327.74 389.777 18.64 176.13-116.66 311.69-243.46 406.55-99.69 74.59-234.96 19.14-356.79 42.55-165.571 31.81-317.326 213.84-471.386 116.58-156.417-98.74-198.23-341.55-182.955-529.67 13.202-162.607 169.895-231.732 255.099-358.878 97.738-145.847 102.988-411.799 272.682-428.701 169.11-16.844 268.41 226.676 399.07 361.792Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M1410.27 633.133c121.88 126.032 309.1 213.67 327.73 389.777 18.65 176.13-116.66 311.69-243.45 406.55-99.7 74.59-234.96 19.14-356.8 42.55-165.566 31.81-317.321 213.84-471.381 116.59-156.417-98.75-198.23-341.56-182.955-529.68 13.202-162.607 169.895-231.732 255.1-358.877 97.737-145.848 102.987-411.799 272.676-428.701 169.11-16.844 268.41 226.676 399.08 361.791Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M1406.97 624.894c121.88 126.032 309.1 213.67 327.74 389.776 18.64 176.13-116.66 311.69-243.45 406.55-99.7 74.59-234.96 19.14-356.8 42.55-165.569 31.81-317.323 213.85-471.384 116.59-156.417-98.75-198.23-341.56-182.955-529.68 13.202-162.606 169.895-231.731 255.1-358.877 97.737-145.847 102.987-411.799 272.679-428.701 169.11-16.844 268.41 226.676 399.07 361.792Z' stroke='%23215FE5'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		@include desktop {
			width: 1200px;
			height: 660px;
			margin-left: 145px;
			background-image: url("data:image/svg+xml,%3Csvg width='1200' height='660' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1118.73 617.451c82.77 154.556 238.89 290.05 208.66 464.539-30.23 174.52-197.44 267.91-345.346 324.49-116.293 44.48-231.237-45.85-354.83-56.65-167.958-14.67-363.707 118.92-485.3-16.76-123.452-137.75-97.274-382.739-31.139-559.516 57.165-152.796 226.788-176.438 343.513-275.438 133.895-113.562 211.67-367.941 379.518-337.795C1001.08 190.362 1030 451.755 1118.73 617.451Z' fill='%23215FE5'/%3E%3Cpath clip-rule='evenodd' d='M1118.19 612.155c82.77 154.557 238.88 290.05 208.65 464.545-30.23 174.51-197.44 267.9-345.344 324.48-116.294 44.48-231.238-45.85-354.831-56.65-167.958-14.67-363.707 118.93-485.3-16.75-123.452-137.76-97.274-382.744-31.138-559.522C167.391 615.462 337.014 591.82 453.739 492.82 587.634 379.258 665.41 124.879 833.257 155.025c167.273 30.042 196.193 291.434 284.933 457.13Z' stroke='%23215FE5'/%3E%3Cpath opacity='.75' clip-rule='evenodd' d='M1117.27 603.328c82.77 154.557 238.89 290.051 208.66 464.542-30.23 174.51-197.45 267.91-345.35 324.48-116.294 44.49-231.238-45.84-354.831-56.64-167.958-14.68-363.707 118.92-485.3-16.76-123.452-137.76-97.274-382.741-31.138-559.518 57.164-152.796 226.787-176.438 343.512-275.438 133.895-113.562 211.671-367.941 379.518-337.795 167.271 30.041 196.189 291.434 284.929 457.129Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M1116.36 594.502c82.77 154.557 238.88 290.05 208.65 464.538-30.23 174.52-197.44 267.91-345.344 324.49-116.294 44.48-231.238-45.85-354.831-56.65-167.958-14.67-363.707 118.93-485.3-16.76-123.452-137.75-97.274-382.737-31.138-559.515 57.164-152.796 226.787-176.438 343.512-275.438 133.895-113.562 211.671-367.94 379.518-337.795 167.27 30.042 196.193 291.434 284.933 457.13Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M1115.44 585.676c82.77 154.557 238.89 290.051 208.66 464.544-30.23 174.51-197.45 267.9-345.35 324.48-116.294 44.49-231.238-45.85-354.831-56.64-167.958-14.68-363.707 118.92-485.3-16.76-123.452-137.76-97.274-382.743-31.139-559.52 57.165-152.797 226.788-176.439 343.513-275.438C584.888 352.78 662.664 98.401 830.511 128.546c167.27 30.042 196.189 291.434 284.929 457.13Z' stroke='%23215FE5'/%3E%3C/svg%3E");
		}
		@include mobile {
			margin-left: -25px;
		}
	}
	@include desktop {
		padding: 104px 0;
	}
	@include desktop-992 {
		padding: 88px 0;
	}
	@include tablet {
		padding: 64px 0;
	}
	@include mobile {
		padding: 48px 0;
	}
	@include mobile-sm {
		padding: 40px 0;
	}
	&__label{
		margin: 0 0 16px;
		letter-spacing: 0.24em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
	}
	&__title {
		color: $orange-color;
		margin: 0 0 80px;
		@include desktop {
			margin-bottom: 120px;
		}
		@include desktop-992 {
			margin-bottom: 48px;
		}
	}
	&__wrap {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		@include tablet {
			display: block;
		}
	}
	&__divider {
		border-left: 1px solid #D3D7E5;
		margin-left: auto;
		margin-right: auto;
		align-self: stretch;
		@include tablet {
			border-top: 1px solid #D3D7E5;
			border-left-width: 0;
			margin: 64px 0;
		}
		@include mobile {
			margin: 48px 0;
		}
		@include mobile-sm {
			margin: 40px 0;
		}
	}
	&__frame {
		padding-right: 40px;
		max-width: 508px;
		-webkit-box-flex:1 1 auto;
		-moz-box-flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		@include desktop-992 {
			max-width: 480px;
		}
		@include tablet {
			max-width: 100%;
			padding: 0;
			text-align: center;
		}
	}
	&__form {
		max-width: 576px;
		padding-left: 40px;
		-webkit-box-flex:1 1 auto;
		-moz-box-flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		@include desktop-992 {
			max-width: 480px;
		}
		@include tablet {
			max-width: 100%;
			padding: 0;
		}
		.checkbox-holder {
			font-size: 11px;
			line-height: 16px;
			padding-left: 24px;
			.checkbox-item {
				width: 16px;
				height: 16px;
				background-color: #fff;
				border: 1px solid #E6E9F2;
				&:after {
					width: 6px;
					height: 6px;
					margin: -3px 0 0 -3px;
				}
			}
		}
		.input-item .wpcf7-form-control.wpcf7-checkbox, 
		.input-item .wpcf7-form-control.wpcf7-radio {
			padding-top: 0;
			padding-bottom: 8px;
		}
	}
	.contact-info__list {
		margin-bottom: 0;
		@include tablet {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			gap: 24px;
			.contact-item__frame {
				display: none;
			}
			.contact-item__visual {
				margin: 0;
			}
		}
		.contact-item {
			@include tablet {
				margin: 0;
				-webkit-box-flex:0 0 64px;
				-moz-box-flex: 0 0 64px;
				-webkit-flex: 0 0 64px;
				-ms-flex: 0 0 64px;
				flex: 0 0 64px;
				display: block;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.copywriting-section {
	padding: 10px 0 0px;
	&__head {
		text-align: center;
		max-width: 654px;
		margin: 0 auto 64px;
	}
	&__title {
		color: $orange-color;
		margin: 0 0 16px;
	}
	&__subtitle {
		color: #BFBFBF;
		margin: 0;
	}
}
.copywriting-list {
	padding:0;
	margin:0 auto;
	list-style:none;
	display: grid;
	grid-gap: 24px;
	max-width: 1214px;
	&__head {
		display: grid;
		grid-template-columns: 37px 1fr;
		grid-gap: 24px;
		align-items: center;
		margin: 0 0 24px;
	}
	&__title {
		margin: 0;
	}
	&__icon {
		width: 37px;
		height: 37px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.copywriting-list-items {
	display: flex;
	flex-wrap: wrap;
	padding:0;
	margin:0;
	list-style:none;
	gap:17px;
	li {
		position: relative;
		&:not(:last-child):after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 100%;
			margin-left: 8px;
			border-left: 1px solid currentColor;
		}
	}
}

.we-do-section {
	padding: 144px 0 30px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: -686px;
		right: 50%;
		margin-right: 631px;
		width: 1920px;
		height: 2488px;
		z-index: -1;
		pointer-events: none;
		background-image: url("data:image/svg+xml,%3Csvg width='1920' height='2488' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1479.51 770.158c147.71 154.549 397.5 271.802 386.22 473.272-11.28 201.49-234.75 342.28-437.23 437.74-159.2 75.06-341.37-.74-521.294 14.16-244.512 20.27-501.637 212.18-701.756 87.18C2.27 1655.61-5.307 1376.29 57.243 1164.44c54.065-183.12 293.894-246.536 443.646-382.569C672.668 625.828 737.638 324.766 984.85 321.807c246.36-2.948 336.29 282.664 494.66 448.351Z' fill='%23215FE5'/%3E%3Cpath clip-rule='evenodd' d='M1477.67 764.249c147.69 154.518 397.41 271.771 386.18 473.171-11.22 201.41-234.57 342.11-436.94 437.49-159.11 75-341.23-.81-521.072 14.06-244.405 20.21-501.376 212-701.442 87.02C1.27 1649.09-6.373 1369.88 56.1 1158.11c53.998-183.036 293.712-246.383 443.368-382.337 171.669-155.952 236.539-456.889 483.646-459.8 246.256-2.901 336.226 282.621 494.556 448.276Z' stroke='%23215FE5'/%3E%3Cpath opacity='.75' clip-rule='evenodd' d='M1474.79 754.707c147.71 154.548 397.5 271.803 386.22 473.273-11.28 201.49-234.75 342.28-437.22 437.74-159.21 75.06-341.38-.75-521.3 14.16-244.513 20.26-501.638 212.18-701.757 87.18-203.18-126.91-210.757-406.22-148.207-618.07 54.065-183.122 293.895-246.538 443.646-382.571 171.78-156.043 236.75-457.105 483.961-460.064 246.357-2.948 336.297 282.665 494.657 448.352Z' stroke='%23215FE5'/%3E%3Cpath opacity='.5' clip-rule='evenodd' d='M1471.84 745.049c147.72 154.549 397.5 271.801 386.22 473.271-11.28 201.5-234.75 342.28-437.22 437.74-159.21 75.06-341.37-.74-521.3 14.17-244.512 20.26-501.637 212.17-701.756 87.18-203.18-126.91-210.757-406.23-148.207-618.08 54.065-183.119 293.894-246.535 443.646-382.568 171.779-156.043 236.749-457.105 483.961-460.064 246.356-2.949 336.296 282.664 494.656 448.351Z' stroke='%23215FE5'/%3E%3Cpath opacity='.25' clip-rule='evenodd' d='M1468.85 735.431c147.7 154.56 397.47 271.819 386.19 473.309-11.28 201.51-234.74 342.31-437.2 437.77-159.19 75.07-341.34-.74-521.254 14.17-244.493 20.27-501.6 212.2-701.702 87.2-203.163-126.92-210.737-406.26-148.19-618.13 54.063-183.131 293.874-246.554 443.615-382.599 171.767-156.056 236.735-457.142 483.927-460.103 246.344-2.95 336.264 282.684 494.614 448.383Z' stroke='%23215FE5'/%3E%3C/svg%3E");
		@include desktop {
			top: -720px;
			margin-right: 522px;
		}
		@include desktop-992 {
			top: -853px;
			margin-right: 442px;
		}
		@include tablet {
			margin-right: 322px;
		}
	}
	@include desktop-992 {
		padding: 104px 0;
	}
	@include tablet {
		padding: 88px 0;
	}
	@include mobile {
		padding: 64px 0;
	}
	&__wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
		align-items: center;
		@include mobile {
			grid-template-columns: 1fr;
			text-align: center;
		}
	}
	&__label {
		margin: 0 0 36px;
		color: $blue-color;
		font-size: 20px;
		font-weight: 500;
		@include mobile {
			font-size: 16px;
			line-height: 24px;
			margin: 0 0 16px;
		}
	}
	&__head-title {
		text-align: center;
		margin: 0 0 66px;
		color: $orange-color;
	}
	&__title {
		margin: 0 0 36px;
		@include mobile {
			margin: 0 0 16px;	
		}
	}
	&__text {
		margin: 0;
		ul {
			@include tablet {
				text-align: left;
			}
			li {
				&:not(:last-child) {
					margin-bottom: 32px;
					@include mobile {
						margin-bottom: 24px;
					}
				}
			}
		}
	}
	&__info {
		display: flex;
	}
	&__btn {
		@include mobile {
			text-align: center;
		}
	}
}

.we-do-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 55px;
	max-width: 535px;
	width: 100%;
	margin-left: auto;
	@include desktop {
		max-width: 460px;
		grid-gap: 46px;
	}
	@include desktop-992 {
		grid-gap: 38px;
		max-width: 385px;
	}
	@include mobile {
		text-align: left;
		margin: 0 0 32px;
	}
	&__item {
		background: #FFFFFF;
		border: 2px solid #D07D59;
		box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 38px;
		display: grid;
		grid-template-columns: 54px 1fr;
		grid-gap: 30px;
		align-items: center;
		color: $orange-color;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.4;
		@include desktop {
			padding: 34px;
			grid-template-columns: 46px 1fr;
			grid-gap: 26px;
			font-size: 16px;
		}
		@include desktop-992 {
			padding: 28px;
			grid-gap: 22px;
			grid-template-columns: 38px 1fr;
			font-size: 14px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__icon {
		width: 54px;
		height: 54px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@include desktop {
			width: 46px;
			height: 46px;
		}
		@include desktop-992 {
			width: 38px;
			height: 38px;
		}
	}
}

