@import "_variable";
@import "_reset";
@import "_components";
.nav-opener {
	display: none;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 50%;
	right: 19px;
	margin-top: -17px;
	z-index: 4;
	overflow: hidden;
	border: none;
	background: none;
	@include tablet {
		display: block;
	}
	span {
		display: block;
		position: relative;
		width: 28px;
		height: 4px;
		background: $navy-color;
		position: absolute;
		border-radius: 4px;
		top: 50%;
		left: 50%;
		margin: -2px 0 0 -14px;
		text-indent: -9999px;
		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 16px;
			background: $navy-color;
			height: 4px;
			top: -10px;
			border-radius: 4px;
			transition: all 0.2s ease 0s;
		}
		&:before {
			right: 0;
		}
		&:after {
			left: 0;
			top: 10px;
		}
	}
}
.nav-active {
	.nav-opener span {
		background: none;
		&:before {
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			margin: 10px 0 0;
			width: 28px;
		}
		&:after {
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			margin: -10px 0 0;
			width: 28px;
		}
	}
	.site-header--top .main-navigation {
		@include tablet {
			display: block;
		}
	}
}
.header-contacts {
	display: none;
	padding: 144px 0 0;
	@include tablet {
		display: block;
	}
	@include mobile {
		padding-top: 68px;
	}
	&__block {
		margin: 0 0 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__info  {
		margin: 0 0 32px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__label {
		color: #B3B3B3;
		font-size: 14px;
		line-height: 1;
		margin: 0 0 12px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
	}

	&__buttons {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}
	.social-list {
		// flex-wrap: nowrap;
	}
	.social-list__item {
		max-width: 53px;
	}
	.social-list__link {
		background-color: $white-color;
		&:hover {
			background-color: $nude-color;
		}
	}
}
.main-navigation {
	@include tablet {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		padding: 150px 120px;
		overflow-y: auto;

		background-color: #fff;
	}
	@include mobile {
		padding: 100px 20px;
	}
}
.logo {
	margin:0;
	width:196px;
	height:24px;
	overflow:hidden;
	display:block;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg width='164' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23215FE5'%3E%3Cpath d='M8.819.01C3.85.01.385 2.785.154 6.945h5.392c.155-1.58 1.502-2.542 3.159-2.542 1.925 0 3.043 1.154 3.043 2.967v.423H8.974C3.081 7.791 0 10.332 0 14.223c0 3.428 2.735 5.778 6.701 5.778 2.273 0 4.045-1.002 5.162-2.543v2.003h5.315V7.867c0-4.697-3.197-7.856-8.36-7.856Zm-1 15.87c-1.618 0-2.504-.848-2.504-2.042 0-1.502 1.27-2.39 3.775-2.39h2.773c0 2.544-1.85 4.431-4.044 4.431ZM30.935.01c-2.234 0-4.12.964-5.469 2.505V.55h-5.274V19.46h5.432V9.101c0-2.504 1.54-4.083 3.658-4.083 2.196 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C38.1 3.283 35.21.01 30.935.01ZM51.539.01c-2.234 0-4.12.964-5.47 2.505V.55h-5.273V19.46h5.431V9.101c0-2.504 1.54-4.083 3.659-4.083 2.195 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C58.702 3.283 55.814.01 51.539.01ZM71.035.01c-5.392 0-9.972 4.469-9.972 10.17 0 5.584 4.16 9.82 9.744 9.82 5.046 0 8.474-2.966 9.36-6.625H74.81c-.385 1.195-1.888 2.12-3.66 2.12-2.349 0-4.313-1.503-4.814-4.084H80.24c.1-.714.152-1.435.154-2.156 0-5.161-4.005-9.244-9.36-9.244Zm-4.391 7.55c.732-2.003 2.39-3.158 4.39-3.158 2.119 0 3.699 1.425 3.852 3.158h-8.242ZM123.426 5.046c1.886 0 3.504 1.236 3.851 2.657h5.469C132.245 3.273 128.278 0 123.502 0c-5.546 0-9.937 4.237-9.937 10.014 0 5.74 4.391 9.973 9.937 9.973 4.853 0 8.859-3.235 9.244-7.896h-5.431c-.385 1.657-2.003 2.85-3.889 2.85-2.581 0-4.584-2.08-4.584-4.929.002-2.925 2.003-4.966 4.584-4.966ZM144.853 0c-5.624 0-10.055 4.391-10.055 9.972 0 5.624 4.429 10.014 10.055 10.014 5.584 0 10.054-4.39 10.054-10.014-.002-5.58-4.47-9.972-10.054-9.972Zm0 14.982c-2.735 0-4.78-2.156-4.78-5.006s2.041-4.97 4.78-4.97c2.696 0 4.737 2.12 4.737 4.97 0 2.85-2.041 5.01-4.737 5.01v-.004ZM163.185 13.75h-5.893v5.7h5.893v-5.7ZM99.641.677h-5.39v6.88h-6.78v5.01h6.786v6.883h5.401v-6.892h6.764V7.545h-6.78V.677Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h163.185v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	text-indent:-9999px;
	cursor:pointer;
	z-index: 4;
	transition: all 0.3s ease 0s;
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='164' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23D07D59'%3E%3Cpath d='M8.819.01C3.85.01.385 2.785.154 6.945h5.392c.155-1.58 1.502-2.542 3.159-2.542 1.925 0 3.043 1.154 3.043 2.967v.423H8.974C3.081 7.791 0 10.332 0 14.223c0 3.428 2.735 5.778 6.701 5.778 2.273 0 4.045-1.002 5.162-2.543v2.003h5.315V7.867c0-4.697-3.197-7.856-8.36-7.856Zm-1 15.87c-1.618 0-2.504-.848-2.504-2.042 0-1.502 1.27-2.39 3.775-2.39h2.773c0 2.544-1.85 4.431-4.044 4.431ZM30.935.01c-2.234 0-4.12.964-5.469 2.505V.55h-5.274V19.46h5.432V9.101c0-2.504 1.54-4.083 3.658-4.083 2.196 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C38.1 3.283 35.21.01 30.935.01ZM51.539.01c-2.234 0-4.12.964-5.47 2.505V.55h-5.273V19.46h5.431V9.101c0-2.504 1.54-4.083 3.659-4.083 2.195 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C58.702 3.283 55.814.01 51.539.01ZM71.035.01c-5.392 0-9.972 4.469-9.972 10.17 0 5.584 4.16 9.82 9.744 9.82 5.046 0 8.474-2.966 9.36-6.625H74.81c-.385 1.195-1.888 2.12-3.66 2.12-2.349 0-4.313-1.503-4.814-4.084H80.24c.1-.714.152-1.435.154-2.156 0-5.161-4.005-9.244-9.36-9.244Zm-4.391 7.55c.732-2.003 2.39-3.158 4.39-3.158 2.119 0 3.699 1.425 3.852 3.158h-8.242ZM123.426 5.046c1.886 0 3.504 1.236 3.851 2.657h5.469C132.245 3.273 128.278 0 123.502 0c-5.546 0-9.937 4.237-9.937 10.014 0 5.74 4.391 9.973 9.937 9.973 4.853 0 8.859-3.235 9.244-7.896h-5.431c-.385 1.657-2.003 2.85-3.889 2.85-2.581 0-4.584-2.08-4.584-4.929.002-2.925 2.003-4.966 4.584-4.966ZM144.853 0c-5.624 0-10.055 4.391-10.055 9.972 0 5.624 4.429 10.014 10.055 10.014 5.584 0 10.054-4.39 10.054-10.014-.002-5.58-4.47-9.972-10.054-9.972Zm0 14.982c-2.735 0-4.78-2.156-4.78-5.006s2.041-4.97 4.78-4.97c2.696 0 4.737 2.12 4.737 4.97 0 2.85-2.041 5.01-4.737 5.01v-.004ZM163.185 13.75h-5.893v5.7h5.893v-5.7ZM99.641.677h-5.39v6.88h-6.78v5.01h6.786v6.883h5.401v-6.892h6.764V7.545h-6.78V.677Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h163.185v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}
	@include tablet {
		width: 164px;
		height: 20px;
		background-size: contain;
	}
	@include mobile-sm {
		width: 131px;
		background-position: 50% 50%;
	}
	a{
		height:100%;
		display:block;
	}
	&--orange {
		background-image: url("data:image/svg+xml,%3Csvg width='164' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23D07D59'%3E%3Cpath d='M8.819.01C3.85.01.385 2.785.154 6.945h5.392c.155-1.58 1.502-2.542 3.159-2.542 1.925 0 3.043 1.154 3.043 2.967v.423H8.974C3.081 7.791 0 10.332 0 14.223c0 3.428 2.735 5.778 6.701 5.778 2.273 0 4.045-1.002 5.162-2.543v2.003h5.315V7.867c0-4.697-3.197-7.856-8.36-7.856Zm-1 15.87c-1.618 0-2.504-.848-2.504-2.042 0-1.502 1.27-2.39 3.775-2.39h2.773c0 2.544-1.85 4.431-4.044 4.431ZM30.935.01c-2.234 0-4.12.964-5.469 2.505V.55h-5.274V19.46h5.432V9.101c0-2.504 1.54-4.083 3.658-4.083 2.196 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C38.1 3.283 35.21.01 30.935.01ZM51.539.01c-2.234 0-4.12.964-5.47 2.505V.55h-5.273V19.46h5.431V9.101c0-2.504 1.54-4.083 3.659-4.083 2.195 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C58.702 3.283 55.814.01 51.539.01ZM71.035.01c-5.392 0-9.972 4.469-9.972 10.17 0 5.584 4.16 9.82 9.744 9.82 5.046 0 8.474-2.966 9.36-6.625H74.81c-.385 1.195-1.888 2.12-3.66 2.12-2.349 0-4.313-1.503-4.814-4.084H80.24c.1-.714.152-1.435.154-2.156 0-5.161-4.005-9.244-9.36-9.244Zm-4.391 7.55c.732-2.003 2.39-3.158 4.39-3.158 2.119 0 3.699 1.425 3.852 3.158h-8.242ZM123.426 5.046c1.886 0 3.504 1.236 3.851 2.657h5.469C132.245 3.273 128.278 0 123.502 0c-5.546 0-9.937 4.237-9.937 10.014 0 5.74 4.391 9.973 9.937 9.973 4.853 0 8.859-3.235 9.244-7.896h-5.431c-.385 1.657-2.003 2.85-3.889 2.85-2.581 0-4.584-2.08-4.584-4.929.002-2.925 2.003-4.966 4.584-4.966ZM144.853 0c-5.624 0-10.055 4.391-10.055 9.972 0 5.624 4.429 10.014 10.055 10.014 5.584 0 10.054-4.39 10.054-10.014-.002-5.58-4.47-9.972-10.054-9.972Zm0 14.982c-2.735 0-4.78-2.156-4.78-5.006s2.041-4.97 4.78-4.97c2.696 0 4.737 2.12 4.737 4.97 0 2.85-2.041 5.01-4.737 5.01v-.004ZM163.185 13.75h-5.893v5.7h5.893v-5.7ZM99.641.677h-5.39v6.88h-6.78v5.01h6.786v6.883h5.401v-6.892h6.764V7.545h-6.78V.677Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h163.185v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='164' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23F4B9A4'%3E%3Cpath d='M8.819.01C3.85.01.385 2.785.154 6.945h5.392c.155-1.58 1.502-2.542 3.159-2.542 1.925 0 3.043 1.154 3.043 2.967v.423H8.974C3.081 7.791 0 10.332 0 14.223c0 3.428 2.735 5.778 6.701 5.778 2.273 0 4.045-1.002 5.162-2.543v2.003h5.315V7.867c0-4.697-3.197-7.856-8.36-7.856Zm-1 15.87c-1.618 0-2.504-.848-2.504-2.042 0-1.502 1.27-2.39 3.775-2.39h2.773c0 2.544-1.85 4.431-4.044 4.431ZM30.935.01c-2.234 0-4.12.964-5.469 2.505V.55h-5.274V19.46h5.432V9.101c0-2.504 1.54-4.083 3.658-4.083 2.196 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C38.1 3.283 35.21.01 30.935.01ZM51.539.01c-2.234 0-4.12.964-5.47 2.505V.55h-5.273V19.46h5.431V9.101c0-2.504 1.54-4.083 3.659-4.083 2.195 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C58.702 3.283 55.814.01 51.539.01ZM71.035.01c-5.392 0-9.972 4.469-9.972 10.17 0 5.584 4.16 9.82 9.744 9.82 5.046 0 8.474-2.966 9.36-6.625H74.81c-.385 1.195-1.888 2.12-3.66 2.12-2.349 0-4.313-1.503-4.814-4.084H80.24c.1-.714.152-1.435.154-2.156 0-5.161-4.005-9.244-9.36-9.244Zm-4.391 7.55c.732-2.003 2.39-3.158 4.39-3.158 2.119 0 3.699 1.425 3.852 3.158h-8.242ZM123.426 5.046c1.886 0 3.504 1.236 3.851 2.657h5.469C132.245 3.273 128.278 0 123.502 0c-5.546 0-9.937 4.237-9.937 10.014 0 5.74 4.391 9.973 9.937 9.973 4.853 0 8.859-3.235 9.244-7.896h-5.431c-.385 1.657-2.003 2.85-3.889 2.85-2.581 0-4.584-2.08-4.584-4.929.002-2.925 2.003-4.966 4.584-4.966ZM144.853 0c-5.624 0-10.055 4.391-10.055 9.972 0 5.624 4.429 10.014 10.055 10.014 5.584 0 10.054-4.39 10.054-10.014-.002-5.58-4.47-9.972-10.054-9.972Zm0 14.982c-2.735 0-4.78-2.156-4.78-5.006s2.041-4.97 4.78-4.97c2.696 0 4.737 2.12 4.737 4.97 0 2.85-2.041 5.01-4.737 5.01v-.004ZM163.185 13.75h-5.893v5.7h5.893v-5.7ZM99.641.677h-5.39v6.88h-6.78v5.01h6.786v6.883h5.401v-6.892h6.764V7.545h-6.78V.677Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h163.185v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		}
	}
}
.site-header {
	padding: 36px 0;
	position: relative;
	z-index: 4;
	width: 100%;
	@include desktop {
		padding: 32px 0;
	}
	@include tablet {
		padding: 18px 0;
	}
	@include mobile {
		padding: 18px 0;
	}
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 0;
		background-color: #ebebeb;
	}
	&__frame {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&--top {
		.header-menu .menu-btn {
			margin-left: 32px;
			margin-right: 32px;
			@include tablet {
				margin: 0;
			}
			a {
				font-weight: bold;
				span {
					position: relative;
					padding-right: 24px;
					@include tablet {
						padding-right: 0;
					}
					&:before {
						content: '';
						position: absolute;
						width: 16px;
						height: 16px;
						background-repeat: no-repeat;
						top: 50%;
						margin-top: -8px;
						right: 0;
						background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cg clip-path='url(%23b)'%3E%3Cpath d='M13.576 2.99a1.145 1.145 0 0 0-.19-.296c-.014-.013-.02-.033-.034-.046-.013-.013-.033-.02-.046-.033a.88.88 0 0 0-.296-.191 1.125 1.125 0 0 0-.33-.066c-.026 0-.052-.013-.078-.013l-8.058-.013c-.566 0-1.06.494-1.06 1.06 0 .566.474 1.053 1.06 1.06h5.503l-7.4 7.4a1.06 1.06 0 1 0 1.502 1.5l7.4-7.4v5.504c0 .58.473 1.054 1.06 1.06.289 0 .552-.118.743-.31.191-.19.31-.453.31-.743V3.405s-.014-.053-.014-.08a.974.974 0 0 0-.065-.328l-.007-.007Z' fill='%231E293A'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath fill='%23fff' transform='rotate(-45 9.293 6.855)' d='M0 0h15.139v13.5H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
						@include tablet {
							display: none;
						}
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: -16px;
					left: -32px;
					bottom: -16px;
					right: -32px;
					border: 2px solid $navy-color;
					transition: all 0.3s;
					// border-radius: 50px;
					border-radius: 2px;
					@include tablet {
						display: none;
					}
				}
				&:after {
					display: none;
					@include tablet {
						display: block;
					}
				}
				&:hover {
					color: $white-color;
					span {
						&:before {
							background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cg clip-path='url(%23b)'%3E%3Cpath d='M13.576 2.99a1.145 1.145 0 0 0-.19-.296c-.014-.013-.02-.033-.034-.046-.013-.013-.033-.02-.046-.033a.88.88 0 0 0-.296-.191 1.125 1.125 0 0 0-.33-.066c-.026 0-.052-.013-.078-.013l-8.058-.013c-.566 0-1.06.494-1.06 1.06 0 .566.474 1.053 1.06 1.06h5.503l-7.4 7.4a1.06 1.06 0 1 0 1.502 1.5l7.4-7.4v5.504c0 .58.473 1.054 1.06 1.06.289 0 .552-.118.743-.31.191-.19.31-.453.31-.743V3.405s-.014-.053-.014-.08a.974.974 0 0 0-.065-.328l-.007-.007Z' fill='%23F2F2F2'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath fill='%23fff' transform='rotate(-45 9.293 6.855)' d='M0 0h15.139v13.5H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
						}
					}
					&:before {
						background-color: $navy-color;
					}
					@include tablet {
						color: $navy-color;
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
	&--stick {
		position: fixed;
		top: -100px;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding: 22px 0;
		transition: all 0.3s ease 0s;
		&:after {
			height: 1px;
		}
		.logo {
			height: 20px;
		}
		&.fixed {
			top: 0;
		}
		.header-menu {
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 0.08em;
			.menu-btn {
				margin-left: 16px;
				margin-right: 16px;
				a {
					font-weight: bold;
					transition: all 0.3s;
					span {
						position: relative;
					}
					&:before {
						content: '';
						position: absolute;
						top: -10px;
						bottom: -10px;
						left: -16px;
						right: -16px;
						border: 2px solid $navy-color;
						border-radius: 2px;
						transition: all 0.3s;
						@include tablet {
							display: none;
						}
					}
					&:after {
						display: none;
						@include tablet {
							display: block;
						}
					}
					&:hover {
						color: $white-color;
						&:before {
							background-color: $navy-color;
						}
					}
				}
			}
		}
		.header-menu .sub-menu-wrapper {
			width: auto;
			margin-top: 26px;
			border: 1px solid #EBEBEB;
			border-radius: 0;
			z-index: 12;
			box-shadow: none;
			&:before {
				margin-bottom: -1px;
				height: 28px;
			}
			.sub-menu {
				-ms-grid-columns:1fr;
				grid-template-columns:1fr;
				padding: 8px ;
				&:after {
					display: none;
				}
				.menu-item__link {
					&:hover .drop-menu-item{
						color: $blue-color;
					}
				}
			}
			.drop-menu-item {
				padding: 8px;
				gap: 4px;
				background: none !important;
				color: #737373;
			}
			.drop-menu-item__title {
				padding: 0;
				font-size: 13px;
				line-height: 1;
				text-transform: none;
				white-space: nowrap;
				color: inherit;
				transition: none;
				&:after {
					display: none;
				}
			}
			.drop-menu-item__description {
				display: none;
			}
			.drop-menu-item__visual {
				-webkit-box-flex:0 0 20px;
				-moz-box-flex: 0 0 20px;
				-webkit-flex: 0 0 20px;
				-ms-flex: 0 0 20px;
				flex: 0 0 20px;
				color: inherit;
				transition: none;
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
	&--work {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	&--white {
		.logo {
			background-image: url("data:image/svg+xml,%3Csvg width='164' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23ffffff'%3E%3Cpath d='M8.819.01C3.85.01.385 2.785.154 6.945h5.392c.155-1.58 1.502-2.542 3.159-2.542 1.925 0 3.043 1.154 3.043 2.967v.423H8.974C3.081 7.791 0 10.332 0 14.223c0 3.428 2.735 5.778 6.701 5.778 2.273 0 4.045-1.002 5.162-2.543v2.003h5.315V7.867c0-4.697-3.197-7.856-8.36-7.856Zm-1 15.87c-1.618 0-2.504-.848-2.504-2.042 0-1.502 1.27-2.39 3.775-2.39h2.773c0 2.544-1.85 4.431-4.044 4.431ZM30.935.01c-2.234 0-4.12.964-5.469 2.505V.55h-5.274V19.46h5.432V9.101c0-2.504 1.54-4.083 3.658-4.083 2.196 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C38.1 3.283 35.21.01 30.935.01ZM51.539.01c-2.234 0-4.12.964-5.47 2.505V.55h-5.273V19.46h5.431V9.101c0-2.504 1.54-4.083 3.659-4.083 2.195 0 3.39 1.656 3.39 3.813v10.632h5.43V8.677C58.702 3.283 55.814.01 51.539.01ZM71.035.01c-5.392 0-9.972 4.469-9.972 10.17 0 5.584 4.16 9.82 9.744 9.82 5.046 0 8.474-2.966 9.36-6.625H74.81c-.385 1.195-1.888 2.12-3.66 2.12-2.349 0-4.313-1.503-4.814-4.084H80.24c.1-.714.152-1.435.154-2.156 0-5.161-4.005-9.244-9.36-9.244Zm-4.391 7.55c.732-2.003 2.39-3.158 4.39-3.158 2.119 0 3.699 1.425 3.852 3.158h-8.242ZM123.426 5.046c1.886 0 3.504 1.236 3.851 2.657h5.469C132.245 3.273 128.278 0 123.502 0c-5.546 0-9.937 4.237-9.937 10.014 0 5.74 4.391 9.973 9.937 9.973 4.853 0 8.859-3.235 9.244-7.896h-5.431c-.385 1.657-2.003 2.85-3.889 2.85-2.581 0-4.584-2.08-4.584-4.929.002-2.925 2.003-4.966 4.584-4.966ZM144.853 0c-5.624 0-10.055 4.391-10.055 9.972 0 5.624 4.429 10.014 10.055 10.014 5.584 0 10.054-4.39 10.054-10.014-.002-5.58-4.47-9.972-10.054-9.972Zm0 14.982c-2.735 0-4.78-2.156-4.78-5.006s2.041-4.97 4.78-4.97c2.696 0 4.737 2.12 4.737 4.97 0 2.85-2.041 5.01-4.737 5.01v-.004ZM163.185 13.75h-5.893v5.7h5.893v-5.7ZM99.641.677h-5.39v6.88h-6.78v5.01h6.786v6.883h5.401v-6.892h6.764V7.545h-6.78V.677Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h163.185v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
			&:hover {
				opacity: .64;
			}
		}
		.nav-opener span {
			background-color: #fff;
			&:before,
			&:after {
				background-color: #fff;
			}
		}
		.nav-active & .nav-opener span {
			// background-color: $navy-color;
			&:before,
			&:after {
				background-color: $navy-color;
			}
		}
		.header-menu {
			a {
				color: $white-color;
				@include tablet {
					color: $navy-color;
				}
				&:after {
					background-color: $white-color;
					@include tablet {
						background-color: $navy-color;
					}
				}
			}
			.menu-btn a {
				color: $navy-color;
				&:before {
					border-color: $white-color;
					background-color: $white-color;
				}
				&:hover {
					color: $navy-color;
					&:before {
						background-color: rgba($white-color, .64);
					}
				}
			}
		}
	}
}

.header-menu {
	padding:0;
	margin:0;
	list-style:none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	gap: 24px;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	@include tablet {
		display: block;
		font-size: 36px;
		line-height: 48px;
		font-weight: 700;
		li {
			padding: 12px 0;
		}
	}
	@include mobile {
		font-size: 32px;
		line-height: 40px;
	}
	a {
		text-decoration: none;
		color: $navy-color;
		display: block;
		position: relative;
		@include tablet {
			display: inline-block;
		}
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			width: 0;
			height: 2px;
			background-color: $navy-color;
			margin-top: 5px;
			transition: all 0.3s;
			pointer-events: none;
		}
		&:hover {
			&:after {
				width: 100%;
				left: 0;
			}
		}
	}
	.menu-item {
		position: relative;
		&:hover {
			.sub-menu-wrapper {
				visibility: visible;
				opacity: 1;
				pointer-events: all;
				margin-top: 40px;
				.site-header--stick & {
					margin-top: 26px;
				}
			}
		}
	}
	.sub-menu-wrapper {

		transition: all 0.3s ease 0s;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		
		left: 50%;
		width: 528px;
		transform: translateX(-50%);
		margin-top: 0;
		background: #FFFFFF;
		box-shadow: 0px 0px 120px rgba(0, 0, 0, 0.06);
		border-radius: 16px;
		@include tablet {
			display: none;
		}
		a:after {
			display: none;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			height: 40px;
		}
		.sub-menu {
			margin:0;
			padding: 8px;
			list-style:none;
			display:-ms-grid;
			display:grid;
			grid-gap: 0;
			position: relative;
			-ms-grid-columns:repeat(2, 1fr);
			grid-template-columns:repeat(2, 1fr);
			&:after {
				content: '';
				position: absolute;
				bottom: 100%;
				left: 50%;
				width: 20px;
				height: 14px;
				margin-left: -10px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.456 2.07 0 14h20L12.544 2.07C11.369.19 8.631.19 7.456 2.07Z' fill='%23fff'/%3E%3C/svg%3E");
			}
		}
	}
}
.drop-menu-item {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	grid-gap: 8px;
	padding: 16px;
	border-radius: 8px;
	align-items: center;
	transition: all 0.3s ease 0s;
	position: relative;
	z-index: 3;
	background-color: #fff;
	&__visual {
		-webkit-box-flex:0 0 48px;
		-moz-box-flex: 0 0 48px;
		-webkit-flex: 0 0 48px;
		-ms-flex: 0 0 48px;
		flex: 0 0 48px;
		color: $orange-color;
		transition: all 0.3s ease 0s;
	}
	&__frame {
		-webkit-box-flex:1 1 auto;
		-moz-box-flex: 1 1 auto;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		min-width: 0;
		font-weight: normal;
	}
	&__title {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding-right: 28px;
		font-size: 14px;
		line-height: 14px;
		color: $navy-color;
		transition: all 0.3s ease 0s;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			width: 12px;
			height: 12px;
			margin-top: -6px;
			background-repeat: no-repeat;
			opacity: 0;
			transition: all 0.3s ease 0s;
			background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11.614 6.3a.859.859 0 0 0 .056-.258c0-.014.007-.028.007-.042 0-.014-.007-.028-.007-.042 0-.09-.02-.174-.056-.258a.845.845 0 0 0-.14-.21c-.013-.014-.02-.035-.034-.049l-4.267-4.28c-.3-.3-.824-.3-1.124 0-.3.3-.307.81 0 1.124l2.919 2.919H1.119a.796.796 0 1 0 0 1.592h7.849L6.049 9.715a.8.8 0 0 0 0 1.124c.154.154.356.23.559.23a.788.788 0 0 0 .558-.23l4.274-4.273s.02-.035.035-.05a.734.734 0 0 0 .14-.209V6.3Z' fill='%23215FE5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(.323 .938)' d='M0 0h11.354v10.125H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		}
	}
	&__description {
		display: block;
		margin: 4px 0 0;
		font-size: 11px;
		line-height: 15px;
		color: #8F9DB3;
	}
	
	a:hover & {
		background: #fafafa;
		
		.drop-menu-item__visual {
			color: $navy-color;
		}
		.drop-menu-item__title {
			color: $blue-color;
			&:after {
				opacity: 1;
				right: 0;
			}
		}
	}
}